In [5]:
from os import *
from os.path import *
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from skimage.io import imread,imshow
from numpy.linalg import inv
import os

In [10]:
path = 'Himages/'
train_path = 'images/'
test_path = 'images/'

In [13]:
def load(train_dir, test_dir):
    train = [f for f in os.listdir(train_dir) if isfile(join(train_dir, f))]
    test = [f for f in os.listdir(test_dir) if isfile(join(test_dir, f))]

    n = len(train)
    n1=len(test)

    X_train = []
    X_test = []

    img_index = []

    for i in range(len(train)):
        fetch_im = imread(train_dir+train[i], as_gray=True)
        print(fetch_im.shape)
        X_train.append(fetch_im.flatten())

    for i in range(len(test)):
        fetch_im = imread(test_dir+test[i], as_gray=True)
        print(fetch_im.shape)
        X_test.append(fetch_im.flatten())
        
    X_train = pd.DataFrame(X_train)
    X_test = pd.DataFrame(X_test)
    print(X_train.shape)
    return X_train, X_test, train, test
X_train, X_test, train, test = load('train/', 'test/')

(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 4)
(75, 75, 4)
(75, 75, 4)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 3)
(75, 75, 4)
(75, 75, 4)
(18, 22500)

In [7]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,22490,22491,22492,22493,22494,22495,22496,22497,22498,22499
0,192,185,131,193,186,132,194,187,135,197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37,52,11,35,48,18,31,42,25,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121,137,126,128,144,133,133,149,138,131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,165,192,221,165,192,221,165,192,221,165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,255,255,255,255,255,255,255,255,255,255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,154,156,153,161,161,159,159,159,157,156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,255,255,255,255,255,255,255,255,255,255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,161,163,116,163,165,118,151,153,106,144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,98,129,69,93,125,62,96,128,61,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,233,158,103,233,156,102,231,154,98,231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,245,235,226,245,232,223,247,233,222,249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,15,25,34,15,25,34,15,25,34,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5,5,5,5,5,5,6,6,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,146,153,119,255,133,140,110,255,109,113,...,123.0,255.0,111.0,117.0,106.0,255.0,78.0,87.0,77.0,255.0
14,179,165,165,255,179,165,165,255,180,166,...,179.0,255.0,106.0,132.0,158.0,255.0,119.0,123.0,139.0,255.0
15,243,238,234,255,244,239,235,255,244,239,...,37.0,255.0,35.0,42.0,47.0,255.0,54.0,63.0,68.0,255.0
16,23,11,15,22,10,14,20,9,13,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,87,61,60,76,52,52,63,41,43,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def normalise(X_train):
    mean = np.array(X_train.mean(axis=1))
    return (X_train.T - mean).T, mean
X_train, Mean_face = normalise(X_train)

In [6]:
def find_covariance_matrix(X_train):
    return np.cov(X_train)
covariance_matrix = find_covariance_matrix(X_train)
covariance_matrix.shape

(18, 18)

In [7]:
# u,s,v = np.linalg.svd(covariance_matrix)
# eig_vecs = u
eig_vals, eig_vecs = np.linalg.eig(covariance_matrix)

In [8]:

print('\nEigenvalues \n%s' %eig_vals)

Eigenvalues
[0.53804626 0.17346451 0.11759955 0.0595469  0.05388421 0.04074329
 0.03443736 0.00627291 0.0112987  0.01192306 0.01292699 0.02688296
 0.02621228 0.01659181 0.02242714 0.02125568 0.01881874 0.01941637]

In [9]:
def choose_best_eigvec(eig_vecs, max_vecs):
    max_vecs = 10
    arinds = eig_vals.argsort()
    reduced_vecs = pd.DataFrame()
    index = 0
    for i in reversed(arinds):
        reduced_vecs.insert(index,index, eig_vecs[:,i])
        index += 1

        if max_vecs == index: 
            break
            
    return reduced_vecs
    
reduced_vecs = choose_best_eigvec(eig_vecs, 8)

In [10]:
# reduced_vecs

For generating the eigenfaces project the each mean aligned face to the generated
feature vector.

In [11]:
Eigenfaces = reduced_vecs.T @ X_train
Eigenfaces

,0,1,2,3,4,5,6,7,8,9,...,5615,5616,5617,5618,5619,5620,5621,5622,5623,5624
0,-0.698456,-0.681527,-0.630886,-0.600034,-0.622622,-0.623917,-0.632022,-0.686867,-0.731915,-0.708598,...,0.147741,0.097630,0.015373,-0.085019,-0.051620,-0.039303,-0.096870,-0.120253,-0.087675,-0.049965
1,-0.127659,-0.119428,-0.114025,-0.098890,-0.263401,-0.259330,-0.238313,-0.297036,-0.301100,-0.332792,...,0.908112,0.893845,0.814664,0.671413,0.732837,0.809739,0.841421,0.769948,0.728071,0.684881
2,0.090848,0.104601,0.120722,0.155827,0.351653,0.343269,0.308543,0.376510,0.426835,0.403309,...,-0.112809,-0.130471,-0.115928,-0.129626,-0.209212,-0.262139,-0.291991,-0.250122,-0.222832,-0.204354
3,-0.196889,-0.185716,-0.174288,-0.156657,-0.285896,-0.285026,-0.268705,-0.306539,-0.320893,-0.304596,...,-0.019068,-0.085092,-0.088445,-0.038387,-0.134763,-0.200644,-0.218149,-0.235431,-0.228886,-0.200586
4,-0.286653,-0.328252,-0.357693,-0.300425,-0.074167,0.018843,0.037986,0.020924,-0.012294,-0.020079,...,0.522152,0.519324,0.491098,0.441617,0.446634,0.460483,0.407136,0.405660,0.434269,0.446055
5,-0.102261,-0.104962,-0.121793,-0.117127,-0.041532,-0.070464,-0.104652,-0.059435,-0.037478,-0.021384,...,-0.109832,-0.129121,-0.096798,-0.026168,-0.024179,-0.034475,-0.020875,0.011550,0.029579,0.056679
6,-0.310549,-0.326618,-0.378092,-0.374266,-0.214399,-0.188540,-0.190123,-0.112453,-0.055255,-0.085360,...,-0.178842,-0.260048,-0.313365,-0.406564,-0.398159,-0.381370,-0.329242,-0.304115,-0.320716,-0.356156
7,-0.066651,-0.098276,-0.145286,-0.175548,-0.121688,-0.125580,-0.120926,-0.056771,-0.050548,-0.046533,...,0.041893,-0.011548,-0.048569,-0.116773,-0.179731,-0.185298,-0.187606,-0.166516,-0.182762,-0.233938
8,-0.041837,-0.052416,-0.078197,-0.111020,-0.124933,-0.097735,-0.086720,-0.108353,-0.109965,-0.108576,...,0.160111,0.033006,0.071244,0.105013,0.063500,0.052077,0.052824,0.089001,0.065354,0.009311
9,0.162640,0.176336,0.164305,0.107138,0.075446,0.023977,-0.005084,0.035748,0.056957,0.024979,...,0.201514,0.187134,0.102645,-0.068629,-0.040108,0.057019,0.102834,0.055886,0.022107,0.016355

Generate Signature of Each Face:
For generating signature of each face (), project each mean aligned face to the
eigenfaces.

In [12]:
Signature = Eigenfaces @ X_train.T
Signature

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-1169.426029,-61.329306,-871.346781,-1493.048647,-1175.579515,-308.791641,46.491959,259.685722,-107.299581,725.663628,-926.229902,-220.803696,-24.011501,-906.797866,-571.202623,-346.832372,-474.293741,-557.383491
1,-49.083263,75.337915,169.508024,-193.120101,-131.720787,163.960679,120.566731,67.970005,-327.473923,225.201943,249.412112,395.264275,175.244906,-137.973304,-55.257047,534.010514,-15.808649,315.609887
2,-20.956255,293.910984,89.608012,-15.761993,-180.450321,3.189886,85.062853,233.426287,291.577461,203.855463,-12.299054,66.133515,82.860866,177.025973,212.846973,-101.603714,146.355119,40.938945
3,-51.775808,-27.808347,37.578132,63.411359,2.383544,-29.368176,-38.750362,-9.183117,-88.101335,128.825509,-107.279099,-137.764277,-41.092323,95.412616,94.305766,152.751073,13.758220,-52.513783
4,-35.216189,-154.843935,98.673004,-82.954099,-11.760813,-63.065483,-20.569347,-62.532175,162.436815,-22.100091,26.443588,-1.235460,75.399869,14.032496,47.788510,65.217386,-39.418870,2.185315
5,-99.903380,-30.366004,65.553218,12.363183,9.432453,107.804449,27.031280,26.935682,41.836127,-32.585093,-14.971070,37.444181,-116.090348,6.916207,-44.214689,17.197054,47.000350,-39.530481
6,28.396080,15.927334,1.172139,12.846470,42.951304,0.943575,13.666583,4.342273,62.132267,34.440349,-53.492602,-55.269042,39.212408,-28.714399,-116.619146,41.506408,56.950628,48.389261
7,28.609154,-58.204094,-63.847949,-14.384443,59.257646,32.423281,-9.988048,14.910338,14.742771,61.576675,-17.369592,56.495137,2.031288,-0.527747,30.048292,-6.316661,27.046295,-17.398708
8,9.458023,41.693938,3.016681,-77.399596,48.297591,-34.255132,-10.317434,-19.646378,-2.541803,8.022567,16.925499,14.282045,-38.263358,76.656108,-39.154940,8.356604,-9.442375,-17.671097
9,-7.063838,-21.513069,53.669891,5.280066,3.607477,-17.345859,-16.165931,-24.721034,-22.049946,49.212746,-18.292222,15.234023,-23.155366,-3.314116,-8.046288,-63.910947,-0.686810,55.943490

# LDA

In [20]:
Mean_Projected_faces = np.array(Signature.mean(axis=1))

In [22]:
Mean_Projected_faces.shape

(10,)

In [23]:
def find_mean_class(Signature):
    mean_class = []
    for i in range(int(Signature.shape[1]/3)):
        mean_class.append(Signature.iloc[:,3*i:3*i+3].mean(axis=1))
    return np.array(mean_class)
mean_class = find_mean_class(Signature)
mean_class.shape

(6, 10)

In [28]:
Signature.iloc[:,0:3]

             0           1           2
0 -1169.426029  -61.329306 -871.346781
1   -49.083263   75.337915  169.508024
2   -20.956255  293.910984   89.608012
3   -51.775808  -27.808347   37.578132
4   -35.216189 -154.843935   98.673004
5   -99.903380  -30.366004   65.553218
6    28.396080   15.927334    1.172139
7    28.609154  -58.204094  -63.847949
8     9.458023   41.693938    3.016681
9    -7.063838  -21.513069   53.669891

In [29]:
def find_Scatter_within_class(Signature):
    Scatter_within_class = np.zeros((Signature.shape[0], Signature.shape[0]))
    
    for i in range(int(Signature.shape[1]/3)):
        Scatter_within_class = Scatter_within_class + Signature.iloc[:, i*3:i*3+1] @ Signature.iloc[:,i*3:i*3+1].T
        
    return Scatter_within_class
Scatter_within_class = find_Scatter_within_class(Signature)

In [32]:
Scatter_within_class.shape

(10, 10)

In [37]:
def find_Scatter_between_class(mean_class, Mean_Projected_faces):
    sb = np.zeros((mean_class.shape[1],mean_class.shape[1]))
    
    for i in range(mean_class.shape[0]):
        mean_class[i,:] = mean_class[i,:] - Mean_Projected_faces
        m = mean_class[i,:].reshape(mean_class.shape[1], 1)
        sb = sb + (m @ mean_class[i,:].reshape(mean_class.shape[1], 1).T)
    
    return sb

Scatter_between_class = find_Scatter_between_class(mean_class, Mean_Projected_faces)

In [38]:
Scatter_between_class.shape

(10, 10)

In [43]:
# Criterion_mat 
J = inv(Scatter_within_class) @ Scatter_between_class

In [44]:
J.shape

(10, 10)

In [63]:
from scipy.linalg import eigh
eig_vals, eig_vecs = eigh(J)

In [64]:
eig_vals

array([-4.19133181e+17, -5.81396057e+16, -1.33909733e+16, -1.18691664e+16,
       -6.34550471e+15, -1.53928596e+15,  1.88663086e+15,  9.52136045e+15,
        2.07313850e+16,  6.02350518e+17])

In [65]:
eig_vecs.shape

(10, 10)

In [67]:
w = eig_vecs[:, 3:]
w.shape

(10, 7)

In [68]:
# Fishers face (FF)
FF = w.T @ Signature

In [69]:
FF.shape

(7, 18)

# Testing

For testing, let we have an image (I), make it as a column vector say I1 = mn*1

In [76]:

w.shape

(10, 7)

In [98]:
for j in range(X_test.shape[0]):
    test1 = X_test.iloc[j,:]

    # Do mean Zero, by subtracting mean face (M) to this test face, say it I2
    test1 = np.array(test1 - test1.mean()).reshape(test1.shape[0],1)

    # Calculate the projected Eigen Face (PEF) by Project it with the Eigen faces (EF) that we have constructed by using PCA.
    test_face = Eigenfaces @ test1   
    # test_face

    # Now do the final projection (Projected Fisher Test Image) with the help of feature vectors (W to this Projected Eigen Face.
    Projected_Fisher_Test_Img = w.T @ test_face
    Projected_Fisher_Test_Img.shape

    dis = []
    for i in range(FF.shape[1]):
        diff = FF[:,i].reshape(FF.shape[0], 1) - Projected_Fisher_Test_Img
        dis.append(np.dot(diff.T,diff))
    ans = np.argmin(dis)
    print(train[ans] , "   " , test[j], "   ", ans)

Sumanth_2.jpg     Aditya_4.jpg     16
Priyo_3.jpg     Aditya_5.jpg     14
Sumanth_2.jpg     Ajay_4.png     16
Arindam_1.jpg     Ajay_5.png     6
Ajay_3.png     Arindam_4.jpg     5
Sumanth_2.jpg     Arindam_5.jpg     16
Priyo_3.jpg     Arindam_6.jpg     14
Priyo_1.jpg     Mohit_4.jpg     12
Aditya_3.jpg     Mohit_5.jpg     2
Priyo_3.jpg     Priyo_4.jpg     14
Arindam_1.jpg     Priyo_5.jpg     6
Sumanth_2.jpg     Sumanth_4.jpg     16
Arindam_2.jpeg     Sumanth_5.jpg     7